
      <div style="padding: 14% 10%;">
        <h3>Your Api Key is </h3>
        <div style=" margin: 12px 0px;">
            <p style="font-family: monospace; color:white; display: inline; letter-spacing: 0.3em; background-color: aqua; padding: 10px; border-radius: 10px;">{{apiKey}}</p>
        </div>
        <p> Copy the above key and send it as <b>x-api-key header</b> for each and every request ( GET: /getairq )</p>

      </div>


